BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/ProjectCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ProjectCatalogService"
        targetNamespace="http://gov.epa.storet.projectcatalogservice/ProjectCatalogService.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://gov.epa.storet.projectcatalogservice/ProjectCatalogService.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

  <documentation>
  WSDL for Service: ProjectCatalogService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://gov.epa.storet.projectcatalogservice/ProjectCatalogService.xsd" xmlns:tns="http://gov.epa.storet.projectcatalogservice/ProjectCatalogService.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
  </types>

  <message name="getProjectCountByLatLongInput">
    <part name="MinimumLatitude" type="xsd:double"/>
    <part name="MaximumLatitude" type="xsd:double"/>
    <part name="MinimumLongitude" type="xsd:double"/>
    <part name="MaximumLongitude" type="xsd:double"/>
  </message>
  <message name="getProjectInfoByLatLongInput">
    <part name="MinimumLatitude" type="xsd:double"/>
    <part name="MaximumLatitude" type="xsd:double"/>
    <part name="MinimumLongitude" type="xsd:double"/>
    <part name="MaximumLongitude" type="xsd:double"/>
  </message>
  <message name="getProjectCountByParametersInput">
    <part name="OrganizationId" type="xsd:string"/>
    <part name="StationId" type="xsd:string"/>
    <part name="HydrologicUnitCode" type="xsd:string"/>
  </message>  
  <message name="getProjectInfoByParametersInput">
    <part name="OrganizationId" type="xsd:string"/>
    <part name="ProjectId" type="xsd:string"/>
    <part name="StationId" type="xsd:string"/>
    <part name="HydrologicUnitCode" type="xsd:string"/>
  </message>
  <message name="getProjectCountByLatLongOutput">
    <part name="return" type="xsd:long"/>
  </message> 
  <message name="getProjectInfoByLatLongOutput">
    <part name="return" type="xsd:anyType"/>
  </message>  
  <message name="getProjectCountByParametersOutput">
    <part name="return" type="xsd:long"/>
  </message>    
  <message name="getProjectInfoByParametersOutput">
    <part name="return" type="xsd:anyType"/>
  </message>  

  <portType name="ProjectCatalogServicePortType">
    <operation name="getProjectCountByLatLong">
      <input message="tns:getProjectCountByLatLongInput"/>
      <output message="tns:getProjectCountByLatLongOutput"/>
    </operation>  
    <operation name="getProjectInfoByLatLong">
      <input message="tns:getProjectInfoByLatLongInput"/>
      <output message="tns:getProjectInfoByLatLongOutput"/>
    </operation>
    <operation name="getProjectCountByParameters">
      <input message="tns:getProjectCountByParametersInput"/>
      <output message="tns:getProjectCountByParametersOutput"/>
    </operation>    
    <operation name="getProjectInfoByParameters">
      <input message="tns:getProjectInfoByParametersInput"/>
      <output message="tns:getProjectInfoByParametersOutput"/>
    </operation>    
  </portType>

  <binding name="ProjectCatalogServiceBinding" type="tns:ProjectCatalogServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getProjectCountByLatLong">
      <soap:operation soapAction="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService/getProjectCount"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </output>
    </operation>
    <operation name="getProjectInfoByLatLong">
      <soap:operation soapAction="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService/getProjectInfoByLatLong"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </output>
    </operation>
    <operation name="getProjectCountByParameters">
      <soap:operation soapAction="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService/getProjectCountByParameters"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </output>
    </operation>    
    <operation name="getProjectInfoByParameters">
      <soap:operation soapAction="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService/getProjectInfoByParameters"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </input>
      <output>
        <soap:body use="literal" namespace="urn:gov-epa-storet-projectcatalogservice-ProjectCatalogService"/>
      </output>
    </operation>    
  </binding>

  <service name="ProjectCatalogService">
    <port name="ProjectCatalogServicePort" binding="tns:ProjectCatalogServiceBinding">
      <soap:address location="http://iaspub.epa.gov/webservices/ProjectCatalogService/"/>
    </port>
  </service>
  
</definitions>
