BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/ResultWebServiceOutputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:wqx="http://www.exchangenetwork.net/schema/wqx/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.exchangenetwork.net/schema/wqx/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
        Schema Name  :ResultWebServiceOutput.xsd
        Description   : 	Schema for the XML output generated by the Result Web Service.
        Developed by  : 	 EPA Office of Water
        Point of Contact :   Dwane Young
</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="ResultWebServiceOutput_SimpleContent.xsd"/>
	<xsd:element name="WQX" type="wqx:WQXDataType">
		<xsd:annotation>
			<xsd:documentation>Schema for the XML output generated by the Result Web Service</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="WQXDataType">
		<xsd:sequence>
			<xsd:element name="Organization" type="wqx:OrganizationDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Organization information.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationDataType">
		<xsd:sequence>
			<xsd:element name="OrganizationDescription" type="wqx:OrganizationDescriptionDataType">
				<xsd:annotation>
					<xsd:documentation>The particular word(s) regularly connected with a unique framework of authority within which a person or persons act, or are designated to act, towards some purpose.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="Activity" type="wqx:ActivityDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Allows for the reporting of monitoring activities conducted at a Monitoring Location.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganizationDescriptionDataType">
		<xsd:sequence>
			<xsd:element name="OrganizationIdentifier" type="wqx:OrganizationIdentifierDataType">
				<xsd:annotation>
					<xsd:documentation>A designator used to uniquely identify a unique business establishment within a context.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="OrganizationFormalName" type="wqx:OrganizationFormalNameDataType">
				<xsd:annotation>
					<xsd:documentation>The legal designator (i.e. formal name) of an organization.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityDataType">
		<xsd:sequence>
			<xsd:element name="ActivityDescription" type="wqx:ActivityDescriptionDataType">
				<xsd:annotation>
					<xsd:documentation>Basic identification information for an activity conducted within a project.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="MonitoringLocation" type="wqx:MonitoringLocationDataType"  minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Monitoring Location that conducted the activity.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>			
			<xsd:element name="Result" type="wqx:ResultDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes the results of a field measurement, observation, or laboratory analysis.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActivityDescriptionDataType">
		<xsd:sequence>
			<xsd:element name="ActivityIdentifier" type="wqx:ActivityIdentifierDataType">
				<xsd:annotation>
					<xsd:documentation>Designator that uniquely identifies an activity within an organization.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ActivityTypeCode" type="wqx:ActivityTypeCodeDataType">
				<xsd:annotation>
					<xsd:documentation>The text describing the type of activity.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ActivityMediaName" type="wqx:ActivityMediaNameDataType">
				<xsd:annotation>
					<xsd:documentation>Name or code indicating the environmental medium where the sample was taken.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ActivityStartDate" type="wqx:ActivityStartDateDataType">
				<xsd:annotation>
					<xsd:documentation>The calendar date on which the field activity was started.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ProjectIdentifier" type="wqx:ProjectIdentifierDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>A designator used to uniquely identify a data collection project within a context of an organization.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MonitoringLocationDataType">
		<xsd:sequence>
		<xsd:element name="MonitoringLocationIdentifier" type="wqx:MonitoringLocationIdentifierDataType">
			<xsd:annotation>
				<xsd:documentation>A designator used to describe the unique name, number, or code assigned to identify the monitoring location.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		<xsd:element name="MonitoringLocationName" type="wqx:MonitoringLocationNameDataType">
			<xsd:annotation>
				<xsd:documentation>The designator specified by the sampling organization for the site at which sampling or other activities are conducted.</xsd:documentation>
			</xsd:annotation>
		</xsd:element>	
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultDataType">
		<xsd:sequence>
			<xsd:element name="ResultDescription" type="wqx:ResultDescriptionDataType">
				<xsd:annotation>
					<xsd:documentation>Describes the results of a field measurement, observation, or laboratory analysis.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="BiologicalResultDescription" type="wqx:BIOResultDescriptionDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Allows for the reporting of biological result information.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultAnalyticalMethod" type="wqx:ResultAnalyticalMethodDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifies the procedures, processes, and references required to determine the analytical methods used to obtain a result.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultLabInformation" type="wqx:ResultLabInformationDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Describes information obtained by a laboratory related to a specific laboratory analysis.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultDescriptionDataType">
		<xsd:sequence>
			<xsd:element name="ResultDetectionConditionText" type="wqx:ResultDetectionConditionTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The textual descriptor of a result.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="CharacteristicName" type="wqx:CharacteristicNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The object, property, or substance which is evaluated or enumerated by either a direct field measurement, a direct field observation, or by laboratory analysis of material collected in the field.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultSampleFractionText" type="wqx:ResultSampleFractionTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The text name of the portion of the sample associated with results obtained from a physically-partitioned sample.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultMeasure" type="wqx:MeasureDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultStatusIdentifier" type="wqx:ResultStatusIdentifierDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates the acceptability of the result with respect to QA/QC criteria.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ResultValueTypeName" type="wqx:ResultValueTypeNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A name that qualifies the process which was used in the determination of the result value (e.g., actual, estimated, calculated).</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultWeightBasisText" type="wqx:ResultWeightBasisTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name that represents the form of the sample or portion of the sample which is associated with the result value (e.g., wet weight, dry weight, ash-free dry weight).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="ResultTimeBasisText" type="wqx:ResultTimeBasisTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The period of time (in days) over which a measurement was made. For example, BOD can be measured as 5 day or 20 day BOD.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultTemperatureBasisText" type="wqx:ResultTemperatureBasisTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name that represents the controlled temperature at which the sample was maintained during analysis, e.g. 25 deg BOD analysis.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultParticleSizeBasisText" type="wqx:ResultParticleSizeBasisTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>User defined free text describing the particle size class for which the associated result is defined.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="DataQuality" type="wqx:DataQualityDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The quantitative statistics and qualitative descriptors that are used to interpret the degree of acceptability or utility of data to the user.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultCommentText" type="wqx:CommentTextDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Free text with general comments concerning the result.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MeasureDataType">
		<xsd:sequence>
			<xsd:element name="ResultMeasureValue" type="wqx:ResultMeasureValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The reportable measure of the result for the chemical, microbiological or other characteristic being analyzed.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="MeasureUnitCode" type="wqx:MeasureUnitCodeDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The code that represents the unit for measuring the item.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="DataQualityDataType">
		<xsd:sequence>
			<xsd:element name="PrecisionValue" type="wqx:PrecisionValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A measure of mutual agreement among individual measurements of the same property usually under prescribed similar conditions.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="BiasValue" type="wqx:BiasValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The systematic or persistent distortion of a measurement process which causes error in one direction.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ConfidenceIntervalValue" type="wqx:ConfidenceIntervalValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A range of values constructed so that this range has a specified probability of including the true population mean.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BIOResultDescriptionDataType">
		<xsd:sequence>
			<xsd:element name="BiologicalIntentName" type="wqx:BiologicalIntentNameDataType">
				<xsd:annotation>
					<xsd:documentation>The primary reason the biological monitoring has occurred.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="BiologicalIndividualIdentifier" type="wqx:BiologicalIndividualIdentifierDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A number uniquely identifying the individual in accordance with the total number of individuals reported by the user.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="SubjectTaxonomicName" type="wqx:SubjectTaxonomicNameDataType">
				<xsd:annotation>
					<xsd:documentation>The name of the organism sampled as part of a biological sample.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="UnidentifiedSpeciesIdentifier" type="wqx:UnidentifiedSpeciesIdentifierDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A number assigned as a part of a taxonomic identification. Used with a valid genus name to indicate a unique species has been observed but not taxonomically identified.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="SampleTissueAnatomyName" type="wqx:SampleTissueAnatomyNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the anatomy from which a tissue sample was taken.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="TaxonomicDetails" type="wqx:TaxonomicDetailsDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This section allows for the further definition of user-defined details for taxa.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="FrequencyClassInformation" type="wqx:FrequencyClassInformationDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>This section allows for the definition of a subgroup of biological communities by life stage, physical attribute, or abnormality to support frequency class studies.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaxonomicDetailsDataType">
		<xsd:sequence>
			<xsd:element name="CellFormName" type="wqx:CellFormNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the cell form for phytoplankton organisms expressed as a result. A single phytoplankton species may have a result value for any or all of these cell forms.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="CellShapeName" type="wqx:CellShapeNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The cell shape of the phytoplankton organism.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="HabitName" type="wqx:HabitNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The position that the characteristic occupies in a food chain.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="VoltinismName" type="wqx:VoltinismNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The number of broods or generations of the characteristic in a year.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="TaxonomicPollutionTolerance" type="wqx:TaxonomicPollutionToleranceDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For entries representing taxa, a code representing the ability of the reported taxon to tolerate pollution.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="TrophicLevelName" type="wqx:TrophicLevelNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For entries representing taxa, a code representing the trophic level with which the reported taxon is typically assigned.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="FunctionalFeedingGroupName" type="wqx:FunctionalFeedingGroupNameDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>For entries representing taxa, a code representing the functional feeding group with which the reported taxon is typically associated.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FrequencyClassInformationDataType">
		<xsd:sequence>
			<xsd:element name="FrequencyClassDescriptorCode" type="wqx:FrequencyClassDescriptorCodeDataType">
				<xsd:annotation>
					<xsd:documentation>A code that describes the frequency class, either as a life stage, abnormality, gender, or measurable characteristic (i.e. length, weight) used to categorize a biological population count.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="FrequencyClassDescriptorUnitCode" type="wqx:FrequencyClassDescriptorUnitCodeDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The code that represents the unit for measuring the item.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="LowerClassBoundValue" type="wqx:LowerClassBoundValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This described the lower bound for a frequency class descriptor.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="UpperClassBoundValue" type="wqx:UpperClassBoundValueDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This described the upper bound for a frequency class descriptor.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultAnalyticalMethodDataType">
		<xsd:sequence>
			<xsd:element name="MethodIdentifier" type="wqx:MethodIdentifierDataType">
				<xsd:annotation>
					<xsd:documentation>The identification number or code assigned by the method publisher.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="MethodIdentifierContext" type="wqx:MethodIdentifierContextDataType">
		<xsd:annotation>
			<xsd:documentation>Identifies the source or data system that created or defined the identifier.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultLabInformationDataType">
		<xsd:sequence>
			<xsd:element name="LaboratoryName" type="wqx:LaboratoryNameDataType" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>The name of Lab responsible for the result.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="AnalysisStartDate" type="wqx:AnalysisStartDateDataType" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>The calendar date on which the analysis began.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="AnalysisStartTime" type="wqx:AnalysisStartTimeDataType" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>The local time and relative time zone when the analysis began.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultLaboratoryCommentCode" type="wqx:ResultLaboratoryCommentCodeDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Remarks which further describe the laboratory procedures which produced the result.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
			<xsd:element name="ResultDetectionQuantitationLimit" type="wqx:ResultDetectionQuantitationLimitDataType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Information that describes one of a variety of detection or quantitation levels determined in a laboratory.</xsd:documentation>
				</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AnalysisStartTimeDataType">
		<xsd:sequence>
			<xsd:element name="Time" type="wqx:TimeDataType">
		<xsd:annotation>
			<xsd:documentation>The local time and relative time zone when the analysis began.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="TimeZoneCode" type="wqx:TimeZoneCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The time zone for which the time of day is reported. Any of the longitudinal divisions of the earth's surface in which a standard time is kept.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultDetectionQuantitationLimitDataType">
		<xsd:sequence>
			<xsd:element name="DetectionQuantitationLimitTypeName"  type="wqx:DetectionQuantitationLimitTypeNameDataType">
		<xsd:annotation>
			<xsd:documentation>Text describing the type of detection or quantitation level used in the analysis of a characteristic.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="DetectionQuantitationLimitMeasure" type="wqx:DetectionQuantitationLimitMeasureDataType" minOccurs="0">
		<xsd:annotation>
			<xsd:documentation>Constituent concentration that, when processed through the complete method, produces a signal that is statistically different from a blank.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetectionQuantitationLimitMeasureDataType">
		<xsd:sequence>
			<xsd:element name="MeasureValue" type="wqx:MeasureValueDataType">
		<xsd:annotation>
			<xsd:documentation>The recorded dimension, capacity, quality, or amount of something ascertained by measuring or observing.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
			<xsd:element name="MeasureUnitCode" type="wqx:MeasureUnitCodeDataType">
		<xsd:annotation>
			<xsd:documentation>The code that represents the unit for measuring the item.</xsd:documentation>
		</xsd:annotation>			
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>