BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/StationCatalogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StationCatalogService"
        targetNamespace="http://gov.epa.storet.stationcatalogservice/StationCatalogService.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://gov.epa.storet.stationcatalogservice/StationCatalogService.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

  <documentation>
  WSDL for Service: StationCatalogService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://gov.epa.storet.stationcatalogservice/StationCatalogService.xsd" xmlns:tns="http://gov.epa.storet.stationcatalogservice/StationCatalogService.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
  </types>

  <message name="getStationCharacteristicSummaryInput">
    <part name="CharType" type="xsd:string"/>
    <part name="StationId" type="xsd:string"/>
    <part name="OrganizationId" type="xsd:string"/>
  </message>
  <message name="getStationCharacteristicSummaryOutput">
    <part name="return" type="xsd:anyType"/>
  </message> 
  
  <message name="getStationCharTypeSummaryUsingStringInputInput">
    <part name="StationIdentifiersInputString" type="xsd:string"/>
  </message>
  <message name="getStationCharTypeSummaryUsingStringInputOutput">
    <part name="return" type="xsd:anyType"/>
  </message>
  <message name="getStationCharTypeSummaryUsingXMLInputInput">
    <part name="StationIdentifiersInputXML" type="xsd:anyType"/>
  </message>
  <message name="getStationCharTypeSummaryUsingXMLInputOutput">
    <part name="return" type="xsd:anyType"/>
  </message>
  
 <message name="getWatershedOrgStationCharTypeSummaryInput">
    <part name="HydrologicUnitCode" type="xsd:string"/>
    <part name="OrganizationId" type="xsd:string"/>
  </message>
  <message name="getWatershedOrgStationCharTypeSummaryOutput">
    <part name="return" type="xsd:anyType"/>
  </message>

  <message name="getWatershedStationCharTypeSummaryInput">
    <part name="HydrologicUnitCode" type="xsd:string"/>
  </message>
  <message name="getWatershedStationCharTypeSummaryOutput">
    <part name="return" type="xsd:anyType"/>
  </message>
  
  <message name="getWebServiceCatalogInput" />
  <message name="getWebServiceCatalogOutput">
    <part name="return" type="xsd:anyType"/>
  </message>

  <portType name="StationCatalogServicePortType">
    <operation name="getStationCharacteristicSummary">
      <input message="tns:getStationCharacteristicSummaryInput"/>
      <output message="tns:getStationCharacteristicSummaryOutput"/>
    </operation>
    <operation name="getStationCharTypeSummaryUsingStringInput">
      <input message="tns:getStationCharTypeSummaryUsingStringInputInput"/>
      <output message="tns:getStationCharTypeSummaryUsingStringInputOutput"/>
    </operation>
    <operation name="getStationCharTypeSummaryUsingXMLInput">
      <input message="tns:getStationCharTypeSummaryUsingXMLInputInput"/>
      <output message="tns:getStationCharTypeSummaryUsingXMLInputOutput"/>
    </operation>    
    <operation name="getWatershedOrgStationCharTypeSummary">
      <input message="tns:getWatershedOrgStationCharTypeSummaryInput"/>
      <output message="tns:getWatershedOrgStationCharTypeSummaryOutput"/>
    </operation>
    <operation name="getWatershedStationCharTypeSummary">
      <input message="tns:getWatershedStationCharTypeSummaryInput"/>
      <output message="tns:getWatershedStationCharTypeSummaryOutput"/>
    </operation>
    <operation name="getWebServiceCatalog">
      <input message="tns:getWebServiceCatalogInput"/>
      <output message="tns:getWebServiceCatalogOutput"/>
    </operation>
  </portType>

  <binding name="StationCatalogServiceBinding" type="tns:StationCatalogServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getStationCharacteristicSummary">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getStationCharacteristicSummary"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
    </operation>    
    <operation name="getStationCharTypeSummaryUsingStringInput">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getStationCharTypeSummaryUsingStringInput"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
      </operation>
      
    <operation name="getStationCharTypeSummaryUsingXMLInput">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getStationCharTypeSummaryUsingXMLInput"/>
      <input>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
    </operation>          
    <operation name="getWatershedOrgStationCharTypeSummary">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getWatershedOrgStationCharTypeSummary"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
    </operation>
    <operation name="getWatershedStationCharTypeSummary">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getWatershedStationCharTypeSummary"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
    </operation>    
   <operation name="getWebServiceCatalog">
      <soap:operation soapAction="urn:gov-epa-storet-stationcatalogservice-StationCatalogService/getWebServiceCatalog"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationcatalogservice-StationCatalogService"/>
      </output>
    </operation>
  </binding>

  <service name="StationCatalogService">
    <port name="StationCatalogServicePort" binding="tns:StationCatalogServiceBinding">
      <soap:address location="http://iaspub.epa.gov/webservices/StationCatalogService"/>
    </port>
  </service>


</definitions>
