BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/StationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StationService"
        targetNamespace="http://gov.epa.storet.stationservice/StationService.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://gov.epa.storet.stationservice/StationService.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

  <documentation>
  WSDL for Service: StationService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://gov.epa.storet.stationservice/StationService.xsd" xmlns:tns="http://gov.epa.storet.stationservice/StationService.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
  </types>

  <message name="getWebServiceCatalogInput"></message>
  <message name="getStationsForMapInput">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationCountInput">
    <part name="MinimumLatitude" type="xsd:double" />
    <part name="MaximumLatitude" type="xsd:double" />
    <part name="MinimumLongitude" type="xsd:double" />
    <part name="MaximumLongitude" type="xsd:double" />
  </message>
  <message name="getStationInfoInput">
    <part name="StationIdentifiersInputString" type="xsd:string" />
  </message>
  <message name="getWebServiceCatalogOutput">
    <part name="return" type="xsd:anyType" />
  </message>
  <message name="getStationCountOutput">
    <part name="return" type="xsd:long" />
  </message>
  <message name="getStationsForMapOutput">
    <part name="return" type="xsd:anyType" />
  </message>
  <message name="getStationInfoOutput">
    <part name="return" type="xsd:anyType" />
  </message>
  <portType name="StationServicePortType">
    <operation name="getStationsForMap">
      <input message="tns:getStationsForMapInput" />
      <output message="tns:getStationsForMapOutput" />
    </operation>
    <operation name="getWebServiceCatalog">
      <input message="tns:getWebServiceCatalogInput" />
      <output message="tns:getWebServiceCatalogOutput" />
    </operation>
    <operation name="getStationCount">
      <input message="tns:getStationCountInput" />
      <output message="tns:getStationCountOutput" />
    </operation>
    <operation name="getStationInfo">
      <input message="tns:getStationInfoInput" />
      <output message="tns:getStationInfoOutput" />
    </operation>
  </portType>
  <binding name="StationServiceBinding" type="tns:StationServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getStationsForMap">
      <soap:operation soapAction="urn:gov-epa-storet-stationservice-StationService/getStationsForMap" />
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </output>
    </operation>
    <operation name="getWebServiceCatalog">
      <soap:operation soapAction="urn:gov-epa-storet-stationservice-StationService/getWebServiceCatalog" />
      <input>
        <soap:body use="encoded" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </output>
    </operation>
    <operation name="getStationCount">
      <soap:operation soapAction="urn:gov-epa-storet-stationservice-StationService/getStationCount" />
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" />
      </output>
    </operation>
    <operation name="getStationInfo">
      <soap:operation soapAction="urn:gov-epa-storet-stationservice-StationService/getStationInfo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-stationservice-StationService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>


  <service name="StationService">
    <port name="StationServicePort" binding="tns:StationServiceBinding">
      <soap:address location="http://iaspub.epa.gov/webservices/StationService/"/>
    </port>
  </service>


</definitions>
