BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/StoeretResultsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StoretResultService"
        targetNamespace="http://gov.epa.storet.storetresultservice/StoretResultService.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://gov.epa.storet.storetresultservice/StoretResultService.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" >

  <documentation>
  WSDL for Service: StoretResultService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://gov.epa.storet.storetresultservice/StoretResultService.xsd" xmlns:tns="http://gov.epa.storet.storetresultservice/StoretResultService.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
  </types>

  <message name="getActivityCountInput">
  <part name="OrganizationId" type="xsd:string" /> 
  <part name="ActivityId" type="xsd:string" /> 
  <part name="ActivityType" type="xsd:string" /> 
  <part name="MonitoringLocationId" type="xsd:string" /> 
  <part name="MonitoringLocationType" type="xsd:string" /> 
  <part name="ProjectId" type="xsd:string" /> 
  <part name="MinimumActivityStartDate" type="xsd:string" /> 
  <part name="MaximumActivityStartDate" type="xsd:string" /> 
  <part name="CharacteristicType" type="xsd:string" /> 
  <part name="CharacteristicName" type="xsd:string" /> 
  </message>
  <message name="getActivityCountOutput">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="getResultCountInput">
    <part name="OrganizationId" type="xsd:string"/>
    <part name="MonitoringLocationId" type="xsd:string"/>
    <part name="MonitoringLocationType" type="xsd:string"/>
    <part name="MinimumActivityStartDate" type="xsd:string"/>
    <part name="MaximumActivityStartDate" type="xsd:string"/>
    <part name="MinimumLatitude" type="xsd:string" />
    <part name="MaximumLatitude" type="xsd:string" />
    <part name="MinimumLongitude" type="xsd:string" />
    <part name="MaximumLongitude" type="xsd:string" />
    <part name="CharacteristicType" type="xsd:string"/>
    <part name="CharacteristicName" type="xsd:string"/>
    <part name="ResultType" type="xsd:string"/>    
  </message>
  <message name="getResultCountOutput">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="getResultsOutput">
    <part name="return" type="xsd:anyType"/>
  </message>
  <message name="getResultsInput">
     <part name="OrganizationId" type="xsd:string"/>
    <part name="MonitoringLocationId" type="xsd:string"/>
    <part name="MonitoringLocationType" type="xsd:string"/>
    <part name="MinimumActivityStartDate" type="xsd:string"/>
    <part name="MaximumActivityStartDate" type="xsd:string"/>
    <part name="MinimumLatitude" type="xsd:string" />
    <part name="MaximumLatitude" type="xsd:string" />
    <part name="MinimumLongitude" type="xsd:string" />
    <part name="MaximumLongitude" type="xsd:string" />
    <part name="CharacteristicType" type="xsd:string"/>
    <part name="CharacteristicName" type="xsd:string"/>
    <part name="ResultType" type="xsd:string"/>    
  </message>

  <portType name="StoretResultServicePortType">
    <operation name="getResults">
      <input message="tns:getResultsInput"/>
      <output message="tns:getResultsOutput"/>
    </operation>
    <operation name="getResultCount">
      <input message="tns:getResultCountInput"/>
      <output message="tns:getResultCountOutput"/>
    </operation>
    <operation name="getActivityCount">
      <input message="tns:getActivityCountInput"/>
      <output message="tns:getActivityCountOutput"/>
    </operation>
  </portType>

  <binding name="StoretResultServiceBinding" type="tns:StoretResultServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getResults">
      <soap:operation soapAction="urn:gov-epa-storet-storetresultservice-StoretResultService/getResults"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </output>
    </operation>
    <operation name="getResultCount">
      <soap:operation soapAction="urn:gov-epa-storet-storetresultservice-StoretResultService/getResultCount"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </output>
    </operation>
    <operation name="getActivityCount">
      <soap:operation soapAction="urn:gov-epa-storet-storetresultservice-StoretResultService/getActivityCount"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:gov-epa-storet-storetresultservice-StoretResultService"/>
      </output>
    </operation>
  </binding>

  <service name="StoretResultService">
    <port name="StoretResultServicePort" binding="tns:StoretResultServiceBinding">
      <soap:address location="http://iaspub.epa.gov/webservices/StoretResultService/"/>
    </port>
  </service>


</definitions>
