BaseWofService/EPAWebService/EPAWOFService/epa_webserivces_docs/WatershedSummaryServiceOutputSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 rel. 3 sp2 (http://www.altova.com) by Sree (LMIT) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="WatershedSummary">
		<xs:annotation>
			<xs:documentation>Holds Watershed Summary information generated by WatershedSummary service</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="OrganizationSummary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="OrganizationCount" type="xs:long"/>
							<xs:element name="StationCount" type="xs:long"/>
							<xs:element name="CharacteristicCount" type="xs:long"/>
							<xs:element name="ResultCount" type="xs:long"/>
							<xs:element name="Organization" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="OrganizationName" type="xs:string"/>
										<xs:element name="ActivityStartDate" type="xs:string"/>
										<xs:element name="ActivityStopDate" type="xs:string"/>
										<xs:element name="StationCount" type="xs:long"/>
										<xs:element name="ResultCount" type="xs:long"/>
										<xs:element name="CharTypeResults" type="CharTypeResultsType" maxOccurs="unbounded"/>
									</xs:sequence>
									<xs:attribute name="organizationId" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CharacteristicSummary" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CharacteristicCount" type="xs:long"/>
							<xs:element name="ResultCount" type="xs:long"/>
							<xs:element name="CharTypeResults" type="CharTypeResultsType" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:attribute name="hydrologicUnitCode" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CharTypeResultsType">
		<xs:sequence>
			<xs:element name="CharType"/>
			<xs:element name="CharacteristicCount" type="xs:long"/>
			<xs:element name="ResultCount" type="xs:long"/>
			<xs:element name="CharacteristicResults" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Characteristic" type="xs:string"/>
						<xs:element name="ResultCount" type="xs:long"/>
						<xs:element name="ActivityStartDate" type="xs:string"/>
						<xs:element name="ActivityStopDate" type="xs:string"/>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
